@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base colors */

    --site-color-primary-1: 35 77% 62%; /* Soft orange */
    --site-color-primary-2: 5 85% 63%; /* Soft red */
    --site-color-neutral-100: 36 100% 99%; /* Almost White */
    --site-color-neutral-200: 233 8% 79%; /* Silver */
    --site-color-neutral-600: 236 13% 42%; /* Gunmetal */
    --site-color-neutral-900: 240 100% 5%; /* Dark Space Blue */

    /* Color scheme by application*/

    --color-primary: var(--site-color-neutral-100);
    --color-primary-foreground: var(--site-color-neutral-900);
    --color-primary-foreground-muted: var(--site-color-neutral-600);
    --color-primary-inverted: var(--site-color-neutral-900);
    --color-primary-inverted-foreground: var(--site-color-neutral-100);
    --color-primary-inverted-foreground-muted: var(--site-color-neutral-200);
    --color-accent: var(--site-color-primary-2);
    --color-accent-inverted: var(--site-color-primary-1);

    /* Typography */

    --site-font-weight-normal: 400;
    --site-font-weight-bold: 700;
    --site-font-weight-black: 800;

    --site-font-base: 15px;

    --site-font-size-sm: 0.93333rem;
    --site-font-size-md: 1rem;
    --site-font-size-lg: 1.2rem;
    --site-font-size-xl: 1.33333rem;
    --site-font-size-2xl: 2.13333rem;
    --site-font-size-3xl: 2.66667rem;
    --site-font-size-4xl: 3.73333rem;

    --site-font-clamp-3xl-4xl: clamp(
      var(--site-font-size-3xl),
      2.0465rem + 2.646vw,
      var(--site-font-size-4xl)
    );

    --site-line-height-md: 1;
    --site-line-height-lg: 1.33333;
    --site-line-height-xl: 1.73333;

    /* Layout */

    --site-content-max-width: 76.13333rem; /* 1142px */
    --site-content-padding: 1.07rem; /* 16px */

    /* Spacing */
    --site-clamp-20px-24px: clamp(1.25rem, 1.0897rem + 0.6838vw, 1.5rem);
    --site-clamp-24px-32px: clamp(1.5rem, 1.1795rem + 1.3675vw, 2rem);

    /* Size */
    --site-clamp-100px-200px: clamp(6.25rem, 2.2436rem + 17.094vw, 12.5rem);
  }

  html {
    font-size: var(--site-font-base);
  }

  body {
    @apply bg-primary text-primary-foreground-muted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary-foreground;
  }
}

@layer utilities {
  .body {
    @apply bg-primary text-primary-foreground-muted;
  }

  .heading-xs {
    @apply text-site-lg font-site-black leading-site-lg;
  }

  .heading-sm {
    @apply text-site-xl font-site-black leading-site-lg;
  }

  .heading-md {
    @apply text-site-2xl font-site-bold leading-site-lg;
  }

  .heading-lg {
    @apply text-site-3xl font-site-bold leading-site-md;
  }

  .heading-xl {
    @apply text-site-clamp-3xl-4xl font-site-black leading-site-md;
  }

  .content-wrapper {
    @apply mx-auto max-w-site-content px-site-content;
  }
}
